@font-face {
  font-family: 'alternateNo2';
  src: url('alternate/no2/AlternateGothicNo2-webfont.eot');
  src: url('alternate/no2/AlternateGothicNo2-webfont.eot?#iefix') format('embedded-opentype'), url('alternate/no2/AlternateGothicNo2-webfont.woff') format('woff'), url('alternate/no2/AlternateGothicNo2-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
